<section class="container-extrato">
  <h2 class="titulo">Tarefas</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Data</th>
      <th class="tabela__cabecalho__conteudo">Titulo</th>
      <th class="tabela__cabecalho__conteudo">Status</th>
    </thead>
    <tbody *ngIf="tarefas.length > 0; else listaVazia">
      <tr class="tabela_linha" *ngFor="let tarefa of tarefas">
        <td class="tabela__conteudo">{{tarefa?.Data }}</td>
        <td class="tabela__conteudo">{{tarefa?.Titulo}}</td>
        <td class="tabela__conteudo">{{tarefa?.Concluida}}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #listaVazia>
    <p>Nenhuma tarefa cadastrada</p>
  </ng-template>
</section>
